<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>wanderlust</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.UserLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.UserRegistration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectFlights</display-name>
		<servlet-name>SelectFlights</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.SelectFlights</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>T</display-name>
		<servlet-name>T</servlet-name>
		<servlet-class>com.aspire.travelexploration.T</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightDealsController</display-name>
		<servlet-name>FlightDealsController</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.FlightDealsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightController</display-name>
		<servlet-name>FlightController</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.FlightController</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>SelectFlightDeals</display-name>
		<servlet-name>SelectFlightDeals</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.SelectFlightDeals</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddFlightDeal</display-name>
		<servlet-name>AddFlightDeal</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.AddFlightDeal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectPackageCountry</display-name>
		<servlet-name>SelectPackageCountry</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.SelectPackagesByCountry</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectPackagesByType</display-name>
		<servlet-name>SelectPackagesByType</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.SelectPackagesByType</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectPackageByPrice</display-name>
		<servlet-name>SelectPackageByPrice</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.SelectPackageByPrice</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketBooking</display-name>
		<servlet-name>TicketBooking</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.TicketBooking</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TicketCancellation</display-name>
		<servlet-name>TicketCancellation</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.TicketCancellation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewTickets</display-name>
		<servlet-name>ViewTickets</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.ViewTickets</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectPackages</display-name>
		<servlet-name>SelectPackages</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.SelectPackages</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogout</display-name>
		<servlet-name>UserLogout</servlet-name>
		<servlet-class>com.aspire.travelexploration.controller.UserLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.aspire.travelexploration.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>T</servlet-name>
		<url-pattern>/T</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login_controller</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>SelectFlights</servlet-name>
		<url-pattern>/select_flights</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightDealsController</servlet-name>
		<url-pattern>/flight_deals_controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightController</servlet-name>
		<url-pattern>/flight_controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectFlightDeals</servlet-name>
		<url-pattern>/select_flightdeal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFlightDeal</servlet-name>
		<url-pattern>/add_flightdeal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectPackageCountry</servlet-name>
		<url-pattern>/SelectPackageCountry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectPackagesByType</servlet-name>
		<url-pattern>/SelectPackagesByType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectPackageByPrice</servlet-name>
		<url-pattern>/SelectPackageByPrice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketBooking</servlet-name>
		<url-pattern>/TicketBooking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TicketCancellation</servlet-name>
		<url-pattern>/TicketCancellation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewTickets</servlet-name>
		<url-pattern>/ViewTickets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectPackages</servlet-name>
		<url-pattern>/select_packages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogout</servlet-name>
		<url-pattern>/UserLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
